.education-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Migra', sans-serif;
  gap:2rem;
  margin-left: calc(10% - 1rem);
  margin-right: calc(10% - 1rem);
  margin-top: 2rem;
}

.carousel{
  display: flex;
  flex-direction: row;
  gap:1rem;
  align-items: center;
  justify-content: center;
}

.arrow{
  border: 1px solid;
  border-bottom: none;
  border-left: none;
  width: 20px;
  height: 20px;
  transform: rotate(-135deg);
}

.arrow-dark{
  border-color: rgb(255,255,255);
}

.arrow-light{
  border-color:rgb(25, 25, 25);
}
.left{
  transform: rotate(-135deg);
}

.right{
  transform: rotate(45deg);
}

.education-presentation{
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
}

.education-content{
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.education-content-item{
  margin:1rem;
  animation: carouselAnimation 2s forwards;
}

.education-content-item-title{
  font-size: 2.5rem;
  font-weight: bold;
}

.education-content-item-subtitle{
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 0.666rem;
}

.education-content-item-description{
  font-size: 1.5rem;
}

.education-content-item-date{
  font-size: 3rem;
  margin:2rem;
}

@keyframes carouselAnimation {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}
