.cv-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  margin-bottom: 4rem;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 0.666rem;
  margin-left: 1rem;
}

.name-box {
  display: flex;
  flex-direction: column;
  gap: 0.333rem;
}

.name-box-span {
  font-size: 5rem;
  color: #c3d72b;
}

.surname {
  margin-left: 5rem;
}

.name-box-animation {
  background-color: #c3d72b;
  width: 2.5rem;
  height: 1rem;
  position: absolute;
}

.surname-animation {
  animation: 3s linear 1s infinite alternate leftToRightOne;
}

.name-animation {
  animation: 3s linear 1s infinite alternate leftToRightTwo;
}

.description {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.666rem;
  font-size: 1.333rem;
}

.information-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.information-component-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 250px;
}

.information-component {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  color: #c3d72b;
  font-size: 18px;
}

.icon {
  max-width: 25px;
  max-height: 25px;
  margin-right: 0.313rem;
}

@keyframes leftToRightTwo {
  0% {
    left: 5rem;
  }
  100% {
    left: 17rem;
  }
}
@keyframes leftToRightOne {
  0% {
    left: 1rem;
  }
  100% {
    left: 10rem;
  }
}
