<div class="cv-info">
  <div class="title">
    <div class="name">
      <div class="name-box">
        <span class="name-box-span">Yanis</span>
        <div>
          <div class="name-box-animation surname-animation"></div>
        </div>
      </div>
      <div class="name-box surname">
        <span class="name-box-span">Ksouri</span>
        <div>
          <div class="name-box-animation name-animation"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="information-details" [@listAnimation]="dataRight.length">
    <div class="information-component-container">
      <div class="information-component" *ngFor="let data of dataLeft">
        <img class="icon" src="{{ data.icon }}" alt="icon" />
        <p>{{ data.description }}</p>
      </div>
    </div>
    <div class="information-component-container">
      <div class="information-component" *ngFor="let data of dataRight">
        <img class="icon" src="{{ data.icon }}" alt="icon" />
        <p>{{ data.description }}</p>
      </div>
    </div>
  </div>
</div>

<div @descriptionAnimation class="description">
  <p>
    Étant étudiant en deuxième année de Master GAED parcours Transition et
    Aménagement, j'ai acquis de nombreuses connaissances dans les domaines de
    l'aménagement urbain, de l'environnement et du développement des
    territoires.
  </p>
  <p>
    À travers ces connaissances, j'ai développé un intérêt particulier envers
    l'urbanisme et son rapport avec les espaces naturels.
  </p>
  <p>
    La préservation du patrimoine naturel et de sa biodiversité, la gestion des
    ressources, mais aussi les mobilités urbaines, sont des notions qui me
    tiennent particulièrement à cœur et que j'aimerais découvrir sur le terrain.
  </p>
  <lottie-player
    src="https://assets10.lottiefiles.com/packages/lf20_vd2ddhxu.json"
    background="transparent"
    speed="1"
    loop
    autoplay
  >
  </lottie-player>
</div>
