.cursor{
  width:12px;
  height:12px;
  cursor:none;
  border: 1px solid;
  position: absolute;
  border-radius: 50px;
  z-index: 400;
}

.cursor-grow{
  width: 20px;
  height: 20px;
  border-color: rgb(25, 25, 25);
}

.cursor-dark{
  border-color: rgb(25, 25, 25)
}

.cursor-light{
  border-color: rgb(240, 239, 231)
}
