<div class="experience-item">
  <div [ngClass]="getLine()"></div>
  <div *ngFor="let data of experienceData">
    <div class="experience-presentation">
      <h3>{{ data.titre }}</h3>
      <div class="experience-button" (click)="toggleCollapsed()">
        <img
          [ngClass]="getCrossStatue()"
          src="../../assets/images/xmark-solid.svg"
          alt="cross-mark"
        />
      </div>
    </div>
    <a href="{{ data.lien }}">
      <img
        *ngIf="collapsed"
        @fadeOut
        @fadeIn
        src="{{ data.image }}"
        alt="test"
        class="experience-image"
      />
    </a>
  </div>
  <div [ngClass]="getLine()"></div>
</div>
