<div class="experience-item">
  <div *ngFor="let data of experienceData; let index = index">
    <div [ngClass]="getLine()"></div>
    <div class="experience-presentation reveal">
      <h3>{{ data.titre }}</h3>
      <div class="experience-button" (click)="toggleCollapsed(index)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          [ngClass]="getCrossStatue(index)"
          [ngStyle]="{ fill: getCrossColor() }"
          viewBox="0 0 320 512"
        >
          <path
            d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"
          />
        </svg>
      </div>
    </div>
    <a href="{{ data.lien }}">
      <img
        *ngIf="getCollapsedStatue(index)"
        @fadeOut
        @fadeIn
        src="{{ data.image }}"
        alt="test"
        class="experience-image"
      />
    </a>
  </div>
  <div [ngClass]="getLine()"></div>
</div>
