<div class="background">
    <div class="languages-container">
        <h2>LANGUES</h2>
        <div class="skills-computer-container">
            <div class="skills-bar">
              <div class="skills-info">
                <span>Anglais</span>
              </div>
              <div class="progress-line Anglais"><span></span></div>
            </div>
            <div class="skills-bar">
              <div class="skills-info">
                <span>Espagnol</span>
              </div>
              <div class="progress-line Espagnol"><span></span></div>
            </div>
    </div>
</div>
