<app-load></app-load>
<app-cursor [mode]="cursor"></app-cursor>
<div class="main" [ngClass]="mode">
  <div class="hero">
    <div class="header">
      <app-letter class="header-left" [word]="'YANIS'"></app-letter>
      <div class="work-status">
        <span class="circle" [ngClass]="circleColor"></span>
        <p>available for <b>work</b></p>
      </div>
      <div class="nav">
        <div class="nav-item">
          <span>1.</span>
          <app-letter [word]="'WORK'"></app-letter>
        </div>
        <div class="nav-item">
          <span>2.</span>
          <app-letter [word]="'ABOUT'"></app-letter>
        </div>
        <div class="nav-item">
          <span>3.</span>
          <app-letter [word]="'CONTACT'"></app-letter>
        </div>
      </div>
    </div>
    <div class="photo">
      <app-photo></app-photo>
    </div>
    <div class="foot-hero" (click)="toggleMode()">
      <span>✺</span>
      <app-letter [word]="'dark mode'"></app-letter>
    </div>
  </div>
  <div class="presentation">
    <p class="salutation">HELLO THERE</p>
    <p class="presentation-text text">
      Hi I'm Yanis. A geographer <span class="is-italic">from</span> France
      specialized <span class="is-italic">in</span> urban
      <span class="is-bold"> planning</span> and it's relationship with
      <span class="is-bold">natural spaces</span>.
    </p>
    <p class="presentation-country text">
      Currently living <span class="is-italic">in</span> Nancy
    </p>
    <div class="button-work" [ngClass]="borderColor">
      <app-letter [word]="'EXPLORE WORK'"></app-letter>
    </div>
  </div>
</div>
