.word {
  display: inline-block;
  color: white;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  text-decoration: none !important;
  font-size: 1.15em;
  overflow: hidden;
}

.word:hover .letter span {
  animation-play-state: running;
}

.letter span {
  animation: letterAnimation 1s ease-out;
  z-index: 0;
}

@keyframes letterAnimation {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}
