.word {
  text-transform: uppercase;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  text-decoration: none !important;

  overflow: hidden;
}

.word-container{
  display: flex;
  flex-direction: row;
  gap:0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.word-container:hover .word .letter{
  animation: letterAnimation 300ms ease-in-out;
}

@Keyframes letterAnimation{
  0%{
    transform: translateY(0%);
  }

  100%{
    transform: translateY(-100%);
  }


}
